<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1090453038447-brnqudvcrf0nohkc5rgv5m0c5ner7ras.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1090453038447-brnqudvcrf0nohkc5rgv5m0c5ner7ras</string>
	<key>API_KEY</key>
	<string>AIzaSyDvZw23WW1vLRuKh0t2W70qGzXy9ejZVmU</string>
	<key>GCM_SENDER_ID</key>
	<string>1090453038447</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.movieApp</string>
	<key>PROJECT_ID</key>
	<string>the-movie-app-tmdb-d109d</string>
	<key>STORAGE_BUCKET</key>
	<string>the-movie-app-tmdb-d109d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1090453038447:ios:6f99efc976e757ccfaf49a</string>
</dict>
</plist>